# Env
.env
.env.yaml

# System files
.DS_Store
.ipynb_checkpoints
*.pyc
*.swp
build/
dist/
.coverage
*.iml
*.egg-info
*.vscode

# Data files
*.csv
*.sqlite
*.zip

*.sublime-project
*.sublime-workspace
**/*.code-workspace

# Folders
raw_data/
models/
result_image.jpeg
