colorama==0.4.5
fastapi==0.103.1
matplotlib==3.5.3
mlflow==2.1.1
numpy==1.23.5
opencv_python==4.8.0.76
pandas==1.5.3
prefect==2.8.1
protobuf==3.19.6
python_dateutil==2.8.2
Requests==2.31.0
scikit_learn==1.2.1
setuptools==63.2.0
tensorflow==2.10.0
python-multipart
